{% extends 'base.html.twig' %}

{% block title %}Lucie Sassiat | Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}

    <section class="contact-info">
        <div class="contact-container">
            <div class="contact-inner">
                <div class="contact-image-wrapper">
                    <img src="{{ asset('images/lucie-sassiat-contact-2.jpeg') }}" alt="Lucie Sassiat Contact"
                         class="contact-image"/>
                </div>
                <p class="contact-text">
                    Lucie Sassiat grew up on the cliffs of Brittany. Her photographic work explores representations of femininity through the figure of the Muse.
                </p>
                <br>
                <p class="contact-text">
                    She regularly collaborates with the press and the fashion industry.
                    <br>
                    For the past three years, she has also been the editor-in-chief of Les Cahiers de la Photographie.
                    <br>
                    Her images question the traditional roles assigned to women and seek to offer a more nuanced, powerful, and poetic vision of the feminine in contemporary visual culture.
                </p>
                <br><br>
                <p class="contact-text">
                    Contact <br/>
                    <a href="mailto:lucie.sassiat@gmail.com" class="contact-link">lucie.sassiat@gmail.com</a>
                </p>
                {#<p class="uppercase">Représentée par</p>
                <h2 class="contact-heading">VALÉRIE PAUMELLE</h2>
                <p class="contact-text">
                    <a href="tel:+33681646243" class="contact-link">+33 (0)6 81 64 62 43</a><br/>
                    <a href="mailto:valerie@valeriepaumelle-agent.com" class="contact-link">valerie@valeriepaumelle-agent.com</a>
                </p>#}
            </div>
        </div>
    </section>



{% endblock %}
