{% extends 'admin.base.html.twig' %}

{% block title %}Dashboard - Admin{% endblock %}

{% block page_title %}Tableau de bord{% endblock %}

{% block content %}
    <p>Bienvenue sur le tableau de bord de l'administration !</p>
    <p>Utilisez la barre latérale pour naviguer entre les différentes sections.</p>
{% endblock %}
